<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<a class="brand">
    <img src="assets/logo.png" alt="Logo">
 </a>
<div class="header">
<div class="header-left">
  <a class="rightMargin" href="index.html" (click)='setHomeLayout()' [ngStyle]="{'background-color' : activeLayout === 1 ? 'white' : '', 'color' : activeLayout === 1 ? '#6D7993':''}">Home</a> 
  <a class="rightMargin" routerLink="materials" (click)='setMaterialsLayout()' [ngStyle]="{'background-color' : activeLayout === 2 ? 'white' : '', 'color' : activeLayout === 2 ? '#6D7993':''}">Materials</a>
  <a routerLink="about" (click)='setAboutUsLayout()' [ngStyle]="{'background-color' : activeLayout === 3 ? 'white' : '', 'color' : activeLayout === 3 ? '#6D7993':''}">About us</a>
</div>

<div class="header-right">
  <button class="button button1" >Log out</button>
</div>
</div>