<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>


<form class="example" action="/action_page.php">
  <input type="text" placeholder="Search materials.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="search-by-field">
 <p>Search by:</p>

  <div class="dropdown">
   <button class="dropbtn">Choose...</button>
    <div class="dropdown-content">
      <p>Title</p>
      <p>Author</p>
      <p>Date</p>
    </div>
  </div>
  <div class="advertisment-checkbox">
   <label class="container">Advertisment friendly
     <input type="checkbox">
     <span class="checkmark"></span>
   </label>
  </div>

</div>

<table id="t01">

    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
</table>

</body>
</html> 