.welcome-title{
    max-width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Amaranth';
    font-size: 35px;
    animation: mymove 2s;
}

@keyframes mymove{
    50% {font-size: 50px}
}


