
<label type="text" for="fname"><b>First Name:</b></label>
<input type="text" placeholder="Your name" name="email" id="email" required>
<label class="text" for="lname"><b>Last Name:</b></label>
<input type="text" placeholder="Your last name" name="email" id="email" required>

<label class="text" for="email"><b>Email:</b></label>
<input type="text" placeholder="Enter Email" name="email" id="email" required>

<label class="text" for="psw"><b>Password:</b></label>
<input type="password" placeholder="Enter Password" name="psw" id="psw" required>

<label class="text" for="psw-repeat"><b>Repeat Password:</b></label>
<input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>