<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<a class="brand">
    <img src="assets/logo.png" alt="Logo">
 </a>
<div class="header">
<div class="header-left">
  <a href="index.html">Home</a>
  <a routerLink="materials">Materials</a>
  <a routerLink="about">About us</a>


</div>

<div class="header-right">

  <button class="button button1" >Log out</button>
</div>
</div>
