<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <app-header></app-header>
            <div *ngIf="isHomeRegUsr()">
                <app-body></app-body>
            </div>
            <div *ngIf="isAboutMe()">
                <app-about-us></app-about-us>
            </div>
            <div *ngIf="isMaterials()">
                <app-materials></app-materials>
            </div>
            <app-footer></app-footer>
    </body>
</html>
