.flname {
    text-transform: capitalize;
    font-size: 20px;
}

.mail{
    font-size: 20px;
}

.pass{
    font-size: 20px;
}


.sign{
    margin-top: 2%;
    font-size: 19px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding: 15px 20px;
    margin-bottom: 2%;
}

.clear:hover{
    background-color: #d4663b;
}

/*.box{
    transform: translateX(-750%);
}*/

.rmb{
    text-decoration: darkgray;
}

.aa {
    text-decoration: #6d7993;
}

span{
    position: absolute;
    right: 15px;
    transform: translate(0,-50%);
    top: 50%;
    cursor: pointer;
}


