
<form action="" class="form">
    <h2>Login</h2>
    
    <div class="input-group">
    
    <input type="text" name="loginMail" id="loginMail" required>
    
    <label for="loginMail">Email</label>
    
    </div>
    
    <div class="input-group">
    
    <input type="password" name="loginPassword" id="loginPassword" required>
    
    <label for="loginPassword">Password</label>
    
    </div>

     <input type="checkbox" id="rememberMe">

    <label for="rememberMe">  Remember Me</label>
    
    <input type="submit" value="Login" class="submit-btn">
    
    <a class="forgot-pw" routerLink="../forgot-password" routerLinkActive="active">Forgot Password?</a>
</form>