<div>
  <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
</div>
<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  
  <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required title="example@mail.com"
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
  <div *ngIf="signInForm.submitted && email.errors?.pattern">
    <label class="validation-message">Invalid email address.</label>
  </div>

  <div class="container">

    <input class="passw"type="password" name="password" #password="ngModel" [(ngModel)]="model.password"  id="password" placeholder="Password" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters. Example: Name.n78">
    
    <span>
      <i class="eye"class="fa fa-eye" id="eye" onclick="toggle()"></i>
    </span>

     <div *ngIf="signInForm.submitted && password.errors?.minlength">
    <label class="validation-message">Minimum 8 characters.</label>
    </div>

 </div>

<script src="js/app.js"></script>

  <input class="chkbox" type="checkbox" id="rememberMe">
  <label class="remember text-left"type="rememberMe"> Remember Me</label><br>
  <input class="sign"type="submit" value="Sign In"><br>

  <a href="#forgot-pw" routerLink="../forgot-password" routerLinkActive="active" class="forgot-pw">Forgot Password?</a>

</form>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>