
.forgot-pw {
    color:#5cacf1;
    margin-bottom: 5%;
    }
    
#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
    }
    
#forgot-pw:target {
    height: 100%;
    opacity: 1;
    }

.container i {
        margin-left: -30px;
        cursor: pointer;
        font-size: 20px;
    }

.sign{
        margin-top: 5%;
        margin-bottom: 2%;
        font-size: 20px;
        font-weight: bold;
    }
    
.remember{
        transform: translateX(80%);
    }

.passw{
        display: inline;
    }

.container{
        position: relative;
        transform: translateX(0%);   
    }

.eye {
        transform: translateX(-10%);
    }




