
<div>
  <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
</div>
<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
  <div *ngIf="signInForm.submitted && email.errors?.pattern">
    <label class="validation-message">Invalid email address.</label>
  </div>
  <div class="container">
  <input class="passw" type="password" name="password" #password="ngModel" [(ngModel)]="model.password" id="password" placeholder="Password" required minlength="8"
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <span>
      <i class="eye"class="fa fa-eye" id="eye" onclick="toggle()"></i>
    </span>
  
  <div *ngIf="signInForm.submitted && password.errors?.minlength">
    <label class="validation-message">Minimum 8 characters.</label>
  </div>
</div>
  <input type="submit" value="Sign In">
</form>
<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>