/*.button {

    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
   
  }
  .button1{
    background-color:#96858f; 
     transform: translateX(820%); 
  }
  .button2{
    
    background-color: #d5d5d5; 
    transform: translateX(465%);
 }
 .button2:hover{
   color: #d5d5d5;
  background-color: #96858f; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
  .button1:hover {
    color: #d5d5d5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  */