.button {

  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
 
}
.button1{
  background-color:#e9ebf1; 
   transform: translateX(120%);
   border-radius: 20px;
   position: relative;
}
.button2{
  
  background-color:#f5f5f5; 
  transform: translateX(130%);
  border-radius: 20px;
  position: relative;

}
.button2:hover{
color: #ffffff;
background-color: #11cf50; 
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1:hover {
 
  color: #ffffff;
  background-color: #3b3d39e3; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}