
 <div class="container">
  <div class="row">
   
      <span>
      <div class="form-group">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">  
    </div>    
  </span>
 

<div class="search-by-field">
  <p class="search-by">Search by:</p>
 
   <div class="dropdown">
    <select class="dropbtn" [(ngModel)]="menu.option">
       <option *ngFor="let option of options" [ngValue]="option">{{option.name}}</option>
    </select>
   </div>
 
   <div class="advertisment-checkbox">
    <label class="container">Advertisable
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
   </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th (click)="sort('title')">Title
              <span class="glyphicon sort-icon" *ngIf="key =='title'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('author')">Author
              <span class="glyphicon sort-icon" *ngIf="key =='author'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('date')">Date
              <span class="glyphicon sort-icon" *ngIf="key =='date'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('duration')">Duration
              <span class="glyphicon sort-icon" *ngIf="key =='pages'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('resolution')">Resolution
              <span class="glyphicon sort-icon" *ngIf="key =='edition'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('advertisable')">Advertisable
              <span class="glyphicon sort-icon" *ngIf="key =='languages'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('watermark')">Watermark
              <span class="glyphicon sort-icon" *ngIf="key =='publisher'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let video of videos | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <td>{{video.id}}</td>
            <td>{{video.title}}</td>
            <td>{{video.author}}</td>
            <td>{{video.date}}</td>
            <td>{{video.duration}}</td>
            <td>{{video.resolution}}</td>
            <td>{{video.advertisable}}</td>
            <td>{{video.watermark}}</td>
            <td>
              <label>
                <a href={{video.link}} target="_blank"><img class="link" src="assets/img/external.png"></a>
              </label>
            </td>
  
          </tr>
        </tbody>
      </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>