<div class="wrapper">
    <div id="formContent">
     
      <h2 class="underlineHover" > Reset password</h2>
      <br> 
      <p class= "center"> 
        <b>Enter and repeat your new password:</b>
      </p> 

    <div class="container">
        <input class=" pass passw" type="password"  #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
        id="password" placeholder="New password" minlength="8" required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters. Example: Name.n78" required>
        <span>
          <i class="eye" class="fa fa-eye" id="eye" onclick="toggle()"></i>
        </span>
        <div *ngIf="signUpForm.submitted && password.errors">  
          <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 8 characters.</label>
    
        </div>

    </div>
      <input class="pass" type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
       placeholder="Repeat Password" title="Must contain at least one number and one uppercase and lowercase letter, 
       and at least 8 or more characters" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
       required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }" 
       title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters: Example: .Name53">
      
      <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 8 characters.</label>
      </div>

    <input (click)="changed()" class="done" type="submit" value="Change password" >
  </div>
</div>
  
  


