
.pass{
    font-size: 20px;
}

.passw{
    display: inline;
}

.container{
    position: relative;
    transform: translateX(0%);   
}

.eye {
    transform: translateX(-10%);
}
.container i {
    margin-left: -30px;
    cursor: pointer;
    font-size: 20px;
}
.rmb{
    text-decoration: darkgray;
}

.aa {
    text-decoration: rgb(23,201,255);
}