<div class="container">
  <div class="row">
   
      <span>
      <div class="form-group">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">  
    </div>    
  </span>
 

<div class="search-by-field">
  <p class="search-by">Search by:</p>
 
   <div class="dropdown">
    <select class="dropbtn" [(ngModel)]="menu.option">
       <option *ngFor="let option of options" [ngValue]="option">{{option.name}}</option>
    </select>
   </div>
 
   <div class="advertisment-checkbox">
    <label class="container">Advertisable
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
   </div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th (click)="sort('title')">Title
            <span class="glyphicon sort-icon" *ngIf="key =='title'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('author')">Author
            <span class="glyphicon sort-icon" *ngIf="key =='author'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('date')">Date
            <span class="glyphicon sort-icon" *ngIf="key =='date'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('pages')">Pages
            <span class="glyphicon sort-icon" *ngIf="key =='pages'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('edition')">Edition
            <span class="glyphicon sort-icon" *ngIf="key =='edition'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('languages')">Languages
            <span class="glyphicon sort-icon" *ngIf="key =='languages'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('publisher')">Publisher
            <span class="glyphicon sort-icon" *ngIf="key =='publisher'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{i}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.date}}</td>
          <td>{{book.pages}}</td>
          <td>{{book.edition}}</td>
          <td>{{book.languages}}</td>
          <td>{{book.publisher}}</td>
          <td>
            <label>
              <a href={{book.link}}><img class="link" src="assets/img/external.png"></a>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
