<span>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>
</span>
<table class="table">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Date</th>
          <th scope="col">Pages</th>
          <th scope="col">Edition</th>
          <th scope="col">Languages</th>
          <th scope="col">Publisher</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of filterData | filter:term">
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.author}}</td>
          <td>{{item.date}}</td>
          <td>{{item.pages}}</td>
          <td>{{item.edition}}</td>
          <td>{{item.languages}}</td>
          <td>{{item.publisher}}</td>
      </tr>
  </tbody>
</table>

  