.description{
    position: absolute;
    left: 10px;
    text-align: left;
    padding: 0px 50px;
    max-width: 50%;
    margin: auto;
    color: black;
    font-family: 'Arbutus Slab';
    font-size: 30px;
    font-style: oblique;
}

