.description{
    max-width: 70%;
    margin: auto;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

