<form action="action_page.php">
    <div class="container" class="center">
      <h1>Register</h1>
      <hr>
  
   
        <label for="fname"><b>First Name</b></label>
        <input type="text" placeholder="Your name" name="email" id="email" required>
        <label for="lname"><b>Last Name</b></label>
        <input type="text" placeholder="Your last name" name="email" id="email" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <div class="centar">
    
        <button class="button button1">Sign up</button>
        <button class="button button2">Clear form</button>
    </div>
    
      
    </div>
  
 
  </form>
