* {box-sizing: border-box}



/* Add padding to containers */
.container {
  padding: 16px;
  margin-top: 40px;
  background-color: #5c5c5c;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 30px 22px ;
  display: inline-block;
  border: 3px;
  background: #fcfafa;
  border-radius: 25px;
  box-shadow: 3px 5px #888888;
  

  
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #f1efef;
  outline: 1px ;
  
  
}



/* Overwrite default styles of hr */
hr {
  border: 1px #e4dada;
  margin-bottom: 25px;
  
}


/* Add a blue text color to links */
a {
  color: rgb(23, 201, 255);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #ffffff;
  text-align: center;
  
  
}
.button {

    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

   
  }
  .button1{
    background-color:#e9ebf1; 
     transform: translateX(80%);
     border-radius: 25px;
     position: relative;
     
  
     


  }
  .button2{
    
    background-color:#f5f5f5; 
    transform: translateX(80%);
    border-radius: 25px;
    position: relative;
    
  
 }
 .button2:hover{
   color: #ffffff;
  background-color: #11cf50; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
  .button1:hover {
   
    color: #ffffff;
    background-color: #3b3d39e3; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .center {
    margin-top: 40px;
    margin-bottom: 70px;
    margin-right: 100px;
    margin-left: 350px;
    width: 50%;
    border: 3px #949393;
    padding: 10px;
    background-color:#d5d5d5;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    background-image: linear-gradient(rgb(83, 150, 238), rgb(36, 68, 109));
    

  }

  h1 {text-align: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  }

  label{right: 200px;
    padding: 15px;
    margin: 5px 30px 22px ;
  color: white;
  font-family: Arial, Helvetica, sans-serif;}

  p{color:white;
    padding: 5px;
    margin: 5px 5px 30px 22px ;
  
  }

  

 
 




  