* {box-sizing: border-box}



/* Add padding to containers */
.container {
  padding: 14px;
  margin-top: 20px;
  background-color: hsl(0, 0%, 36%);
  text-align: center;
}


/* Overwrite default styles of hr */
hr {
  border: 1px #e4dada;
  margin-bottom: 25px;
}


/* Add a blue text color to links */
a {
  color: rgb(23, 201, 255);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #ffffff;
  text-align: center;
}

 
  .center {

    margin-top: 40px;
    margin-bottom: 70px;
    margin-right: 20px;
    margin-left: 460px;
    width: 40%;
    height: 2%;
    border: 3px #949393;
    padding: 2px;
    background-color:#d5d5d5;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    background-image: linear-gradient(rgb(83, 150, 238), rgb(36, 68, 109));
    

  }

  h1 {text-align: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  }

 

  p{color:white;
    padding: 5px;
    margin: 5px 5px 30px 22px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  

 
 




  