<body style="background-color:rgb(255, 255, 255);">
<form action="action_page.php">
    <div class="container" class="center">
      <h1>Register to HSS</h1>
   
        <input-fields></input-fields>
    
      <p>Already have an account? <a href="#">Sign in</a></p>

      <buttons></buttons>

        <p>By creating an account you agree to our <a href="https://www.termsandconditionstemplate.net/live.php?token=5Yhd4IFKEmGwnYmOP61qZeFN2og8P34R">Terms & Privacy</a></p>
      <div class="centar">
    </div>
      
    </div>
  
 
  </form>
  </body>

