<body style="background-color:rgb(255, 255, 255);">
<form action="action_page.php">
    <div class="container" class="center">
      <h1>Register to HSS</h1>
    
    
  
   
        <label type="text" for="fname"><b>First Name:</b></label>
        <input type="text" placeholder="Your name" name="email" id="email" required>
        <label class="text" for="lname"><b>Last Name:</b></label>
        <input type="text" placeholder="Your last name" name="email" id="email" required>

      <label class="text" for="email"><b>Email:</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label class="text" for="psw"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label class="text" for="psw-repeat"><b>Repeat Password:</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    
      <p>Already have an account? <a href="#">Sign in</a></p>

        <button class="button button1">Clear form</button>
        <button class="button button2">Sign up</button>

        <p>By creating an account you agree to our <a href="https://www.termsandconditionstemplate.net/live.php?token=5Yhd4IFKEmGwnYmOP61qZeFN2og8P34R">Terms & Privacy</a></p>
      <div class="centar">
    </div>
      
    </div>
  
 
  </form>
  </body>

